<h1>Mad Libs</h1>
<h2>Pretty Princess Mad Libs</h2>
<p>A new and @Model.AdjectiveOne fairy princess movie is coming out soon! It will be about Snow @Model.Name and the @Model.Number dwarfs. Snow @Model.Name is a princess whose beauty threatens her @Model.Relative, the queen. Snow @Model.Name is forced to flee from @Model.FirstLocation and hides in nearby @Model.SecondLocation.</p>
<a href="/">Start again?</a>